<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<!-- cdn for modernizr, if you haven't included it already -->
	<script src="https://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
	<!-- polyfiller file to detect and load polyfills -->
	<script src="https://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<script>
		webshims.setOptions('waitReady', false);
		webshims.setOptions('forms-ext', {types: 'date'});
		webshims.polyfill('forms forms-ext');
	</script>
	
	<title>Spare Parts POC</title>
  </head>
  <body style="height: 100%; width: 100%; position: relative;">
		<div id='root' style="display: flex; flex-direction:column; position: relative; height: 100%; width: 100%;"></div>
		<div id="alert" style="position: absolute; top: 0; pointer-events: none; height: 100%; width: 100%;"></div>
  </body>
</html>
